body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
.background {
background-image: url("bg1.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
color: white;
text-align: center;
padding-top: 100px;
}
.menu-btn {
    font-size: 24px;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    background: #854306;
    color: white;
    padding: 10px;
    border-radius: 5px;
}


.sidebar {
    width: 250px;
    height: 100vh;
    background: #854306;
    color: white;
    position: fixed;
    left: -250px;
    top: 0;
    transition: left 0.3s ease;
    padding-top: 20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #854306;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    margin-right: 10px;
}

header {
    background-color: #442304;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 50px;
    text-align: center;
}

#recherche {
    text-align: center;
    margin-bottom: 20px;
}

#searchBar {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 4px solid #ccc;
    border-radius: 5px;
}

.livres-container {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.livre {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #442304
    width 250px;
}

.livre img {
    width: 150px;
    height: auto;
}

.livre .prix {
    font-size: 18px;
    font-weight: bold;
    color: #442304;
}

.btn {
    display: inline-block;
    background-color: #442304;
    color: white; 
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}
.btn:hover {
    background-color: chocolate;
}

.buy-btn {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background:#442304;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.buy-btn:hover {
    background: chocolate;
}

button {
    background-color: #442304;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #442304;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
